.friendsWrapper {
	display: flex;
	flex-direction: column;
}

.usersContainer {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.userProfileWrapper {
	display: flex;
  flex-direction: column;
	align-items: center;
	background: white;
	margin-bottom: 20px;
	padding: 10px 0 20px;
	border-radius: 20px;
	width: 30%;
  justify-content: center;
	text-decoration: none;
	color: black;
}

.userAvatar {
	width: 100px;
	margin-bottom: 10px;
	border-radius: 50px;
}

.userName {
	font-size: 22px;
	margin-bottom: 10px;
  text-align: center;
}
