.postWrapper {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	background: rgb(254, 254, 254);
	padding: 20px;
	border-radius: 15px;
}

.post {
	display: flex;
	align-items: center;
}

.post img {
	width: 45px;
	margin-right: 10px;
	border-radius: 50px;
}

.likes {
	display: flex;
	margin-left: auto;
	cursor: default;
}

.likes img {
	width: 20px;
	margin-right: 5px;
	padding: 2px;
	cursor: pointer;
}

.likes img:hover {
	border: 1px solid red;
	padding: 2px;
	border-radius: 20px;
}

.deletePost {
	display: none;
	padding: 2px 5px;
	border: 1px solid;
	font-size: 12px;
	margin-right: 5px;
	cursor: pointer;
	color: rgb(55, 174, 249);
}

.deletePost:hover {
	background: rgb(233, 233, 233);
}

.deletePost:active {
	background: rgb(229, 139, 139);
}

.postWrapper:hover .deletePost {
display: block;
}