.myProfileInfo {
  position: relative;
  display: flex;
  align-items: center;
}

.infoWrapper {
  width: 100%;
  display: flex;
  background: rgb(255, 255, 255);
  justify-content: space-between;
  flex-grow: 0;
  height: 100%;
  padding: 20px 20px 20px 50px;
  align-items: center;
  margin-left: 100px;
  border-radius: 15px;
}

.profileImage {
  position: absolute;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 135px;
  background: rgb(254, 254, 254); 
  border-radius: 150px;
}

.profileImage img {
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

.photoIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(254, 254, 254);
  top: 105px;
  left: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.photoIcon img {
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
}

.photoIcon label {
cursor: pointer;
}
.photoIcon input {
display: none;
}

.info1 h2 {
  font-size: 26px;
}

.info1 {
  text-align: left;
}

.fullName {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.status {
  display: flex;
  align-items: center;
}

.info2 p {
  text-align: right;
}
.info2 {
   align-self: flex-start;
}