.pagination {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.pageNumbers {
	display: flex;
}

.pagination span {
	display: flex;
	align-items: center;
	width: 30px;
	height: 30px;
	font-size: 14px;
	padding: 5px;
	background: rgb(252, 252, 252);
	border-radius: 20px;
	margin-right: 15px;
	cursor: pointer;
}

.pagination span:hover {
background: rgba(0, 186, 219, 0.267);
}

.pagination span:first-child {
	margin-left: 15px;
}

.pageButton {
	width: 50px;
	height: 30px;
	font-size: 14px;
	padding: 5px;
	background: rgb(252, 252, 252);
	border-radius: 20px;
	cursor: pointer;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageButton:hover {
background: rgba(0, 186, 219, 0.267);
}

.pagination span.selectedPage {
	background: rgba(0, 186, 219, 0.812);
	color: aliceblue;
}
