.socialList {
  display: inline-flex;
  align-items: center;
}

.socialList li:not(:last-child) {
  margin-right: 3px;
}

.socialList img {
  width: 23px;
}

.social {
  display: flex;
  align-items: center;
}