.userProfileWrapper {
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 20px;
  padding: 10px 10px 10px 20px;
  border-radius: 60px;
}

.userAvatar {
  width: 100px;
  margin-right: 20px;
}

.userName {
  font-size: 28px;
  margin-bottom: 10px;
}