.socialForm {
	padding: 10px;
	border: 1px solid;
}

.socials li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
.formSummaryError {
	color: red;
	padding: 10px;
	border: 1px solid red;
	margin-top: 20px;
	width: 185px;
}
.userNameForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 10px;
}
.userNameForm input {
	margin-top: 5px;
}
.aboutForm div:not(:nth-child(3)) {
	margin-bottom: 10px;
}
.aboutForm div:nth-child(3) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutForm p {
margin-bottom: 7px;
margin-left: 5px;
}

.submit {
	margin: 0 auto;
}

.check {
	margin: 0
}
